
<ul>
  <td>
    <input type="text" ng-model="name" placeholder="Guess Book" required/>
  </td>
    <button type="submit"  ng-click="submit()">Submit</button>
  <li ng-repeat="item in list | filter : name">
    <hr>
    <h3><strong> Book Title : </strong>{{ item.title}}</h3>
    <ul>
      <li><strong>Author :</strong>{{ item.author}} </li>
      <li><strong>Type :</strong>{{ item.type}} </li>
      <li><strong>Pages :</strong>{{ item.pages}} </li>
      <li><strong>Avalability :</strong>{{ item.availability}} </li>
      <li><strong>Book id :</strong>{{ item._id}} </li>
    </ul>
    <button type="submit"  ng-click="delete(item)">Delete</button>
<hr>
</li>
</ul>
